.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 0;
  font-size: 1.7rem;
}

.summary {
  text-align: center;
}

.description a {
  color: #0070f3;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}

.footer {
  margin-top: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 3rem;
  text-align: center;
}

@media (min-width: 800px) {
  .container {
    padding: 0 20rem;
  }
  .title {
    font-size: 5rem;
  }
  .summary {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.6rem;
  }
  .footer {
    margin-top: 10rem;
  }
}
